<%= form_with(model: lime) do |form| %>
  <% if lime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lime.errors.count, "error") %> prohibited this lime from being saved:</h2>

      <ul>
        <% lime.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
